# IDE stuffs
.settings
.idea
.project
nbproject/


# NodeJs stuff
nodejs/*.log
node_modules
static/build

# Development env config files
.agignore
.vagrant

package-lock.json

vendor
composer.phar

config.ini